extends layout

block content
  h1= title
  p Hello, #{title} as described in the title.
  p or click the button >> <a href="http://localhost:3000/users">Click to add a User.</a>
  p or click the button >> <a href="http://localhost:3000/showDB">Click to access the DB.</a>